.inner {
    padding: 80px 80px 40px 80px;
    background-color: #414768;
}

span{
    color: #ffc107;
}

li {
    list-style: none;
}

header {
    align-items: center;
    margin: 50px 0px 212px 0px;

}

#selfImg {
    width: 350px;
    border-radius: 40%;
    box-shadow: 12px 6px 12px 2px black;
    margin-bottom: 20px;
}

.meDescription h1 {
    margin: 15px 0px;
    letter-spacing: 1px;
}

.meDescription p {
    letter-spacing: 0.6px;
}

.orange {
    font-weight: 400;
}

.socialIcon {
    width: 40px;
}

.resume {
    margin: 0px 15px;
    border-radius: 2rem !important;    
}

#aboutMe {
    margin: 10px 20px 250px 20px;
    box-shadow: 12px 6px 12px 2px black;
    border-radius: 50px;
    background-color: #687098;
}

#aboutMe p {
    padding: 20px 10px 20px 30px;
    font-size: larger;
    color: white;
}

.contentBox {
    padding: 80px 45px;
}

#skills {
    background-color: #687098;
    box-shadow: 12px 6px 12px 2px black;
    border-radius: 50px;
    width: 80%;
    margin: 0 10% 250px 10%;
    max-width: 120%;
    min-width: 100px;
}

.contentTitle {
    font-size: xx-large;
    color: #ffc107;
}

.icon {
    background-color: white;
    border: 2px solid black;
    border-radius: 12px;
    width: 118px;
    height: 110px;
    margin: 2% 5%;
    padding-top: 10px;
    text-align: center;
}

.icon img {
    width: 50%;
}

.icon p {
    padding-top: 4px;
}

#projects {
    background-color: #687098;
    border-radius: 50px;
    box-shadow: 12px 6px 12px 2px black;
}

.proj {
    padding: 30px 20px;
    display: block;
}

.proj img {
    width: 100%;
    min-width: 200px;
    border-radius: 15px;
}

.description li {
    list-style-position: inside;
    letter-spacing: 0.6px;
    color: white;
}

.gitLink {
    color:  #ffc107;
}

.contact {
    color: white;
}

.email {
    border-radius: 2rem !important;    
    margin: 0px 5px;
}

/* Max Width 767px */
/* Either remove or expand containers from
    About Me, Skills, and Projects */

/* Max Width 400px */
/* Skills should show as two columns
    and Project images should be on top
    of descriptions */
