.inner {
    
}

h1 > span{
    color: forestgreen;
}
.socials li {
    list-style: none;
}

.socialIcon img {
    width: 30px !important;
}

#skills {
    background-color: aquamarine;
    width: 800px;
    margin: 3% 10%;
    max-width: 650px;
    
}

.icon {
    border: 1px solid black;
    border-radius: 12px;
    width: 118px;
    height: 110px;
    margin: 2% 5%;
    padding-top: 10px;
    text-align: center;
}

.icon img {
    width: 50%;
}

.icon p {
    padding-top: 4px;
}