h1 > span{
    color: forestgreen;
}
.socials li {
    list-style: none;
}

.socialIcon img {
    width: 30px !important;
}

.skills {
    background-color: aquamarine;
}

.icon {
    border: 1px solid black;
    width: 10%;
}

.icon img {
    width: 50%;
}